.App {
    background: linear-gradient(
          27deg,
          rgba(60, 60, 60, 0.5) 5px, 
          transparent 5px
        )
        0 5px,
      linear-gradient(207deg, rgba(60, 60, 60, 0.5) 5px, transparent 5px) 10px
        0px,
      linear-gradient(27deg, rgba(60, 60, 60, 0.5) 5px, transparent 5px) 0px
        10px,
      linear-gradient(207deg, rgba(60, 60, 60, 0.5) 5px, transparent 5px) 10px
        5px,
      linear-gradient(90deg, rgba(250, 244, 222, 0.5) 10px, transparent 10px),
      linear-gradient(
        rgba(60, 60, 60, 0.5) 25%, 
        rgba(60, 60, 60, 0.5) 25%,
        rgba(60, 60, 60, 0.5) 50%,
        transparent 50%,
        transparent 75%,
        rgba(60, 60, 60, 0.5) 75%,
        rgba(60, 60, 60, 0.5)
      );
    background-color: rgba(
      60, 60, 60,
      0.5
    ); /* Amarillo crema suave con más transparencia */
    background-size: 20px 20px;
    background-size: 20px 20px;
}