  .leyenda{
    align-self: center;
    gap: 0.5rem;
    color: #f5ccb0;
    font-family: Comic Sans MS  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:center;
    background-color:#202e9b;
    border-radius: 30px;
    width: 50%;
    height: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  }

  .texto{
    width: 80%;
    /* align-self: center; */
  }
  /* .footer { grid-area: "footer"; }  */
  .button {
    --color: #e3d3c8;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;  
    margin-bottom: 1rem;
  }
  .button::before,
  .button::after {
   content: '';
   display: block;
   width: 50px;
   height: 50px;
   transform: translate(-50%, -50%);
   position: absolute;
   border-radius: 50%;
   z-index: -1;
   background-color: var(--color);
   transition: 1s ease;
  }
  .button::before {
    top: -1em;
    left: -1em;
  }
  .button::after {
   left: calc(100% + 1em);
   top: calc(100% + 1em);
  }
  .button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }
  .button:hover {
    color: #917969;
 }
 .button:active {
   filter: brightness(0.8);
  }
  
  
  @media (min-width: 320px) and (max-width: 480px) {
    .leyenda {
      align-self: center;
      width: 70%;
      margin-top: 2rem;
    }

    .layout {
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 3rem;
      align-items: flex-start;
    }
    .texto{
      font-size: smaller;
    }
  }
  