.home{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
  .tablaFila {
    display: flex;
    justify-content: center;
  }
  
  .tabla {
    background-color:rgb(80, 80, 80);
    border-radius: 30px;
    width: 90rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
    gap: 15px;
    margin-top: 1rem;
  }
  
  .filaAbout {
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    gap: 15px;
    margin-top: 15px;
  }
  
  .contenedor {
    display: flex;
    width: 10em;
    height: 1.5em;
    padding: 6px 6px 7px 6px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: rgb(248, 238, 159);
    align-self: center;
  }
  
  .text {
    font-size: 1.5em;
    width: 5em;
    text-align: center;
    color: rgb(60, 60, 60);
    font-weight: 700;
    letter-spacing: 0;
    font-family: "Inter-Bold", Helvetica;
    line-height: normal;
  }
  
  .fabulas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80rem;
    border-radius: 30px;
    background: #f5ccb0;
    align-self: center;
    margin-bottom: 30px;
  }

  .fabula{
    align-self: space-evenly;
  }
  
  @media (min-width: 320px) and (max-width: 768px) {
    .tabla {
      width: 19rem;
    }
    
    .fabulas {
      width: 17rem; 
      flex-direction: column;
      justify-content: center;
      align-items: center ; 
    }
  
    .fabula {
      width: 15rem;
    }
  }
