.footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background: #36c;
  background: linear-gradient(
        115deg,
        transparent 75%,
        rgba(255, 255, 255, 0.8) 75%
      )
      0 0,
    linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 0 0,
    linear-gradient(115deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 7px -15px,
    linear-gradient(245deg, transparent 75%, rgba(255, 255, 255, 0.8) 75%) 7px -15px,
    #faf4de;
  background-size: 15px 30px;
  gap:15px;
}
.artesan{
    color:#f9a36a
}

@media (min-width: 320px) and (max-width: 480px) {
  .textos {
    font-size:small;
  }
  .footer{
    display: flex;
    flex-direction: column;
  }
}