.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #36c;
  background: linear-gradient(
    115deg,
    transparent 75%,
    rgba(60, 60, 60, 0.8) 75%
  ) 0 0,
  linear-gradient(245deg, transparent 75%, rgba(60, 60, 60, 0.8) 75%) 0 0,
  linear-gradient(115deg, transparent 75%, rgba(60, 60, 60, 0.8) 75%) 7px -15px,
  linear-gradient(245deg, transparent 75%, rgba(60, 60, 60, 0.8) 75%) 7px -15px,
  #939392;
  background-size: 15px 30px;
  gap: 15px;
  color: #ffffff;
  font-size: x-large;
  font-family: Lucida Sans Typewriter;
  padding: 20px; /* Añade espacio interno */
  text-align: center; /* Centra el contenido en pantallas pequeñas */
}

.desarrollador {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center; /* Centra el contenido en pantallas pequeñas */
}

.Conteiner {
  background-color: rgba(60, 60, 60, 0.9);
  width: 20rem; /* Ocupa todo el ancho del footer */
  height: 3rem;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Conteiner:hover .boton {
  color: #36c;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Cambia la dirección del flex a columna */
  }

  .Conteiner {
    width: 80%; /* Reduzca el ancho en pantallas pequeñas */
  }
  h3 {
    font-size: small;
  }
   h6{
    font-size: small;
  }
}